/* Base Styles */

* {
  box-sizing: border-box;
}

h1 {
  font-family:  Times, "Times New Roman", serif;
  color: black;
}

body {
  
  background-color: #99ccff;

}

p {
  padding: 15px;
  margin: 0;
}

.container {
  border: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

section {
  border: 1px solid black;
  background-color: #ffff66;
  width: 100%;
  height: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  position: relative;
  overflow: auto;
}

#chicken-holder {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #b366ff;
}

#beef-holder {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  padding: 5px;
  background-color: #ff6666;
}

#sushi-holder {
  border: 1px solid black;
  text-align: center;
  width: 30%;
  margin-left: 70%;
  font-family: Georgia,sans-serif;
  font-weight: bold;
  font-size: 125%;
  margin-bottom: 0;
  margin-top: 0;
  background-color: #6495ED;
  color: white;
  padding: 5px;
}

#chicken-box {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-box {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-box {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #FC5F06;
  color: #FFFFFF;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-header {
  background-color: #FFFFFF;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: white;
}

hr {
  border-color: white;
}

.item {
  color: white;
  font-size: 1.2em;
}